<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936286010895-2t3dku4ui5vc7u4j1ibvdhrdc32nlq1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936286010895-2t3dku4ui5vc7u4j1ibvdhrdc32nlq1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAkm7i0mbanZjJJn4SLA2cZG9wjs1Tm1fA</string>
	<key>GCM_SENDER_ID</key>
	<string>936286010895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gallery</string>
	<key>PROJECT_ID</key>
	<string>youroutehknu</string>
	<key>STORAGE_BUCKET</key>
	<string>youroutehknu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936286010895:ios:e7e7cef1a74e342d612d7a</string>
	<key>DATABASE_URL</key>
	<string>https://youroutehknu.firebaseio.com</string>
</dict>
</plist>
